<button class="btn btn-success">
	<a [routerLink]="['/admin/products/add']">Creat new product</a>
</button>

<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Price</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let product of products; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>{{ product?.name }}</td>
			<td>{{ product?.price }}</td>
			<td>
				<button
					(click)="onRemove(product?.id)"
					class="btn btn-danger"
				>
					Remove
				</button>
				<button class="btn btn-info">
					<a [routerLink]="['/admin/products/', product?.id, 'edit']">Update</a>
				</button>
			</td>
		</tr>
	</tbody>
</table>
