<button class="btn btn-success">
	<a routerLink="/admin/products/add">Create new product</a>
</button>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Price</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let product of products; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>{{ product?.name }}</td>
			<td>{{ product?.price }}</td>
			<td>
				<button
					class="btn btn-danger"
					(click)="onRemove(product.id)"
				>
					Remove
				</button>
				<button class="btn btn-info">
					<a [routerLink]="['/admin/products/', product?.id, 'edit']">Edit</a>
				</button>
			</td>
		</tr>
	</tbody>
</table>
